--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.1
torchvision==0.22.1

# for detection and tracking
scipy
opencv-python-headless
lap
tqdm
cython_bbox

# for eval; pinning to specific version due to UserWarnings
scikit-learn==1.6.1
mlai 
notutils
